{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
  <h1 class="display-1 text-center">Py Task</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Added</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>
          <a href="#">Delete</a>
          <br>
          <a href="#">Update</a>
        </td>
      </tr>
    </tbody>
  </table>

  <form action="/" method="POST">
    <div class="form-group">
      <input id="content" class="form-control" type="text" name="content">
    </div>
    <button type="submit" class="btn btn-block btn-primary">Add Task</button>
  </form>
</div>

{% endblock %}
